@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}



body {
  display: grid;
  grid-template-columns: 1fr, 4fr;
  grid-template-rows: auto minmax(100vh, 5fr) auto;
  margin: 30px;
  background-color: #222222;

}

/*HEADER*/
.header {
  grid-column-start: 1;
  grid-column-end: -1;
}

#header_contenedor a {
  text-decoration: none;
  color: white;
}

/*divend*/
#div_end{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#div_end a{
    font-size: 10px;
}
#signout{
    width: 20px;
    fill: #ffff;
}
#div_end a:first-of-type {
  font-size: 10px;
  color: rgb(9, 138, 5); /* Cambia el color si lo deseas */
}
#div_start{
  display: flex;
  flex-direction: column;
color: #ffff;
gap: 10px;
align-items: center;

}

/*---------------------*/

.container-fluid {
  display: flex;
  
}


.container-fluid {
  position: relative;
  background: url('../img/pok2.jpg') center/cover no-repeat;
  border-radius: 5px;
  display: grid;
  width: 100%;
  overflow: hidden; /* Para evitar que ::before sobresalga */
  z-index: 0;
}
.container-fluid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 4, 4, 0.7) ;
  border-radius: 5px;
  z-index: -1;
 
}








#contenedor_main{
  width: 100%;

}


/*Footer*/

.footer {
  grid-row-start: 3;
  grid-row-end: -1;
}






#contenedor_navbar {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
 /*background-image: url("../img/duck.jpg");*/
 background-repeat: no-repeat;
 background-size: cover;
  width: 100%;
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
  border: 10px solid black;
  z-index: 2;
}



#contenedor_navbar nav ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  grid-template-rows: repeat(2, auto); /* 2 filas */
  gap: 20px; /* Espacio entre los elementos */
  list-style-type: none;
  padding: 0;
}





#contenedor_navbar nav ul li {
  display: flex;
  justify-content: center;
  border-radius: 8px;
 
  border-radius: 10px;
  padding: 80px 150px;
  
}
#contenedor_navbar nav ul li:nth-child(2) {
  background-image: url("../img/1fondo.jpg");
  background-repeat: repeat;
  background-size: contain;
  background-position: 30% center; /
  
  
}
#contenedor_navbar nav ul li:nth-child(1) {
  background-image: url("../img/fondomew2.jpg");
  background-repeat: repeat;
    background-size: contain;
    background-position: 30% center; /
  
  
  
}
#contenedor_navbar nav ul li:nth-child(3) {
  background-image: url("../img/3fondo.jpg");
  background-repeat: repeat;
    background-size: contain;
  
  
  
}

#contenedor_navbar nav ul li:nth-child(3) button{
  border: none;
  background-color: transparent;
}

#contenedor_navbar nav ul li:nth-child(4) {
  background-image: url("../img/fondo6.png");
  background-repeat: repeat;
   background-size: contain;
  background-position: 120% center; /
  
  
  
}




#contenedor_navbar nav ul li a{
 color: #fdfdfd;
 background-color: rgb(0, 0, 0);
 background-position: 100px;
 padding: 20px;
 border-radius: 10px  ;
 
  
  }
#contenedor_navbar nav ul li:hover a {
 text-decoration: none;
 font-weight: bolder; 
  

}


