@import url("fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}



body {
  display: grid;
  grid-template-columns: 1fr, 4fr;
  grid-template-rows: auto minmax(100vh, 5fr) auto;
  margin: 30px;
  background-color: #222222;

}

#div_middle > h1 {
  letter-spacing: 5px;
  color: #f3f3f3;
  font-size: 30px;
  
}



/*HEADER*/
.header {
  grid-column-start: 1;
  grid-column-end: -1;
}

#header_contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 50px 10px 50px;
  align-items: flex-end;
  background-image: url("../img/fondo2.jpg");
  background-size: contain;
  background-position: center -50px;
  background-repeat: repeat;
  border-bottom: 1px solid rgb(0, 0, 0);
  height: 230px;
}

#header_contenedor a {
  text-decoration: none;
  color: white;
}

/*divend*/
#div_end{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#div_end a{
    font-size: 10px;
}
#signout{
    width: 20px;
    fill: #ffff;
}
#div_end a:first-of-type {
  font-size: 10px;
  color: rgb(9, 138, 5); /* Cambia el color si lo deseas */
}



#div_start{
  display: flex;
  flex-direction: column;
color: #ffff;
gap: 10px;
align-items: center;

}
/*NAVBAR*/
/*
.container-fluid {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}
*/

.container-fluid {
  display: flex;
  flex-direction: row;
  background-color: #f8f9fa;
  border-radius: 8px;
  background-image: url(../img/pok1.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-repeat: no-repeat;
  background-size: 75%; /* Sobredimensiona la imagen al 200% del tamaño del contenedor */
  background-position: 90%; /

  
  
}

/*
#contenedor_main{
  border: 1px solid red;
  background-color: #f8f9fa;
  border-radius: 8px;
}

 
  

//* Estilo general */
.position-sticky {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#contenedor_navbar {
  width: 20%;
}

#sidebarMenu {
  border-bottom: 1px solid black;
  background-color: #e6cc4a;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
}

.nav-item {
  position: relative;
  display: inline-block;
  text-decoration: none;
}


.nav-link {
  text-decoration: none;
  font-size: 25px;
  padding: 10px 15px;
  display: block;
  color: #222222;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

/* Estilo del menú desplegable */
.dropdown-menu {
  list-style: none;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 50px;
  left: 160px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  /* Inicialmente oculto, con opacidad y visibilidad */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu .dropdown-item {
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  
}


.dropdown-toggle {
  padding: 30px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

/* Mostrar el menú al pasar el ratón por el contenedor */
.nav-item:hover .dropdown-menu {
  opacity: 1; /* Aparece */
  visibility: visible; /* Se vuelve visible */
  transform: translateY(0); /* Se mueve a la posición final */
}




/*Footer*/

.footer {
  grid-row-start: 3;
  grid-row-end: -1;
}

